<footer>
    <div id="footerContent">
        <a href="/">Habbit Tracker</a>
        <p>Records your Habbit!</p>
    </div>
    <div id="footerActionLinks">
        <a href="/">Home</a>
    </div>
</footer>