<header>
    <div id="pageLogo">
        <a href="/">Habbit Tracker</a>
    </div>
    <div id="headerActionIcons">
        <a href="/users/sign-in">Sign In</a>
        <a href="/users/sign-up">Sign Up</a>
    </div>
</header>
