<link rel="stylesheet" href="/css/list.css">
<h1>
    Here is the list
</h1>

<center>
    <div id="viewalluserhabit">
        <table border="black" style="color:blue">
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </table>
    </div>
</center>


