<link rel="stylesheet" href="/css/user_profile.css">

<section id="container">
    Welcome, <%= user.name%>!!!
</section>

<form action="" method="POST">
    <input type="text" name="habit" placeholder="Enter Your Habit" required><br>
    <input type="text" name="day" placeholder="Enter Your Habit Day" required><br>
    <input type="text" name="frequency" placeholder="Enter Your Habit frequency" required><br>
    <input type="submit" value="Submit Habit"><br>
</form>